env

movie_theater_laravel/.phpunit.cache
movie_theater_laravel/node_modules
movie_theater_laravel/public/build
movie_theater_laravel/public/hot
movie_theater_laravel/public/storage
movie_theater_laravel/storage/*.key
movie_theater_laravel/storage/pail
movie_theater_laravel/vendor
movie_theater_laravel/.env
movie_theater_laravel/.env.backup
movie_theater_laravel/.env.production
movie_theater_laravel/.phpactor.json
movie_theater_laravel/.phpunit.result.cache
movie_theater_laravelHomestead.json
movie_theater_laravelHomestead.yaml
movie_theater_laravelauth.json
movie_theater_laravelnpm-debug.log
movie_theater_laravelyarn-error.log
movie_theater_laravel/.fleet
movie_theater_laravel/.idea
movie_theater_laravel/.nova
movie_theater_laravel/.vscode
movie_theater_laravel/.zed
